body {
  font-family: "Gabarito", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;  
    z-index: 1;          
}

.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    width: 60%;
    border: solid gray 1px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar__s2 input:focus{
 outline: none;   
}

.navbar__s3{
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.navbar__s3__learning{
    position: relative;
    cursor: pointer;
}

.navbar__s3__learning:hover .navbar__s3__message{
    display: block;
}

.navbar__s3__message{
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    position: absolute;
    top: 150%;
    right: 0%;
    width: 100%;
    display: none;
}
.navbar__s4{
    display: none;
}


.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black  1px;    
}

.categories p{
    background-color: rgb(205, 165, 231);;
    color: black;
    padding: 10px;
    border-radius: 20px;    
}

.categories p:hover{
    background-color: #a435f0;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}

.headimage{
    position: relative;
}

.headimage__box{
    background-color: white; 
    border: solid black 1px;
    padding: 2%;
    width: 35%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoomin;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: forwards;
}
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}

.headimage img{
    width: 100%;    
}


.courses{
    padding: 10px;        
}

.courses__type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses__type__card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.courses__type__card img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 10px;
}

.topics__title{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    margin: 5px;
    padding: 5px;
}

.popular{
    padding: 10px;
}

.popular__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;        
}

.popular__courses__card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.popular__courses__card img{
    width: 100%;
    height: 50%;   
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    
}
.footer__section{
    display: flex;
    padding: 20px;
    gap: 30px;
}

.footer__section__s1 p{
padding: 10px;
}

.footer__section__s2 p{
    padding: 10px;
    }

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {       
    .courses__type__card, .popular__courses__card {
        flex-basis: 40%;    
    }

    .navbar__s3, .categories {
        display: none;
    }
    .navbar__s4{
        display: block;
    }
}

